

    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinTinChi_BoSung.cshtml")



    <div class="div_yeu_cau_bo_sung">
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_NguoiDuocCapTinChi_BoSung.cshtml")
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_TrinhDoChuyenMonBoSung.cshtml")
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_QuaTrinhCongTacBoSung.cshtml")
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinDuocCapBoSung.cshtml")
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_TapTinDinhKemBoSung.cshtml")
    </div>
    <script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/hoso/hoso.themhoso.chungchiY.js?v=1.0.0"></script>
    <script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/hoso/hoso.themhoso.chungchiY.BoSung.js"></script>
    <input type="hidden" name="hdfBoSungId" />
