<div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_HoTen_RowRequire_Haft.cshtml")

                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_NgaySinh_Row_Haft.cshtml")
            </div>
        </div>
    </div>

    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_GioiTinh_Row.cshtml")

    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_LoaiGiayTo_Row.cshtml")
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_SoGiayTo_RowRequire_Haft.cshtml")
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_NgayCapNoiCap_Row_Haft.cshtml")
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Địa chỉ thường trú</span>
                </div>
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_ThongTinDiaChi1_Row.cshtml")
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_SoNhaDuong1_Row.cshtml")
        </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Chổ ở hiện nay </span>
                </div>
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_ThongTinDiaChi2_Row.cshtml")
                @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_SoNhaDuong2_Row.cshtml")
            </div>
        </div>
    </div>
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_DienThoaiEmail_Row.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/TepDinhKem/_HinhAnh_Row.cshtml")


