
<div class="div_AbleDisable">
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinTinChi_CapMoi.cshtml")
    </div>
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_NguoiDuocCapTinChi.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_TrinhDoChuyenMon.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_QuaTrinhCongTac.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinDuocCap.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_TapTinDinhKem.cshtml")
    <!--Dev js-->
    <script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/hoso/hoso.themhoso.ccDuoc.js"></script>
    <!---->

