
 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>NGƯỜI SỬ DỤNG THUỐC</span>
        </div>
    </div>
</div>



<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_HoTen_Row_Haft2.cshtml")

            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_NgaySinh_Row_Haft2.cshtml")
        </div>
    </div>
</div>
    
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal line-height-1_1-Em font-size-13"> Địa chỉ thường trú (đối với người Việt Nam)</span>
            </div>
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_ThongTinDiaChi3_Row.cshtml")
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_SoNhaDuong3_Row.cshtml")
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal line-height-1_1-Em font-size-13"> Chỗ ở hiện tại(đối với người Việt Nam) </span>
            </div>
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_ThongTinDiaChi4_Row.cshtml")
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_SoNhaDuong4_Row.cshtml")
        </div>
    </div>
</div>


    
  
