
<div class="div_AbleDisable">
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/DuocPham/GPP/Partial/_ThongTinGiayChungNhan.cshtml")
    </div>
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/DuocPham/GPP/Partial/_CoSoPhanPhoi.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/DuocPham/GPP/Partial/_NguoiPhuTrachChuyenMon.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/DuocPham/GPP/Partial/_PhamViKinhDoanh.cshtml")
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/DuocPham/GPP/Partial/_ThongTinKiemTra.cshtml")

    <script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/hoso/hoso.themhoso.gdp.js?v=1.0.0"></script>
